body {
    background-color: lightgrey;
    color: #343a40;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#task-list {
    margin-bottom: 20px;
}

#add-task-form {
    margin-bottom: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
}

.task-item .task-text {
    flex-grow: 1;
    margin-right: 10px;
}

.task-item .task-text.completed {
    text-decoration: line-through;
    /* Animaçao */
    transition: all 0.5s ease-in-out;
}

.task-item .task-actions {
    display: flex;
    align-items: center;
}

.task-item .task-actions .btn {
    margin-left: 5px;
}

/* animaçao do mouse */

.task-item:hover .task-actions {
    visibility: visible;
    /* Animaçao */
    transition: all 0.5s ease-in-out;
}

.task-item .task-actions {
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}